/*
    Name: Mackinley Price
    File: style.css
    Date: 07 March 2026
    style sheet for blog.html
*/ 

h1{
    color:#4f1374;
    position: sticky;
    text-align: center;
}

nav ul{
    font-size: 1.5rem;
    list-style:none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    display: flex;
}
nav{
    background-color: #200732;
    padding: 0.7em;
    position: sticky;
    top: auto;
}

nav a{
    color: #cbb9d5;
    text-decoration: none;
}
nav a:hover{
    color: #c6a3bc;
    text-decoration:underline;
}

h2{
    font-size: 2rem;
}
